.encloser {
    padding: 0 150px;
    overflow: hidden;
}

.encloser > h1 {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 59px;
    margin-top: 30px;
    margin-bottom: 25px;   
}

.container {
    margin-bottom: 60px;
    margin-top: 40px !important;
    overflow: hidden;
}

.container > span {
    width: 80px;
    height: 40px;
    background-color: #33314C;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    cursor: pointer;
}
.container > span[disabled] {
    cursor: default;
    opacity: 0.7;
}

.container > span:hover {
    opacity: 0.8;
}

.container > span[disabled]:hover {
    cursor: default;
    opacity: 0.7;
}

.main {
    opacity: 0;
}

.cover {
    width: 100%;
    max-width: 260px;
    
    background-color: black;
    position: relative;
    /* min-width: 220px; */
}

.cover > img {
    height: 100%;
    max-height: 200px;
    max-width: 260px;
}

.details {
    width: 100%;
    border-bottom: 13px solid var(--base-color);
    display: flex;
    background-color: #f7f7f7;
    flex-direction: row;
}
.details > span {
    height: 100%;
    min-width: 160px;
    background-color: #191826;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    
}
.details > span > h3 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 6px;
    color: var(--base-color);
}
.details > span > h5 {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #F1F1F1;
}
.details > div {
    padding: 20px 25px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.details > div > h3 {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
    /* width: 214px; */
    
}
.details > div > p {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    /* width: 210px; */
    position: relative;
    overflow: hidden;
}
.past {
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    display: flex;
    flex-direction: row;
    background-color:black;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}
.past:hover {
    cursor: pointer;
}
.active {
    transform: scaleX(1.25) scaleY(1.15) !important;
    height: 240px !important;
    position: relative;
    z-index: 1;
    cursor: default !important;
}
.active > .cover > img {
    height: 100%;
    min-height: 100%;
}
.active > .cover > span {
    margin-bottom: -30px !important;
}
.cover > span {
    height: 30px;
    width: 100%;
    color: var(--base-color);
    display: none;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
}

.cover > span > h3 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    margin-bottom: 6px;
    color: var(--base-color);
}
.cover > span > h5 {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #F1F1F1;
}

@media screen and (max-width:1000px) {
    .encloser {
        padding: 0 70px;
    }
}

@media screen and (max-width:800px) {
    .encloser {
        padding: 0 10px !important;
    }
    .details > div > p {
        font-size: smaller !important;
    }
    .details > div {
        padding: 20px 10px;
    }
}


@media screen and (max-width:800px) {
   
    .past {
        min-height: 290px;
        /* width: auto; */
    }
    .active {
        height: 265px !important;
        transform: scaleX(1.15) scaleY(1.15) !important;
    }
    .active > .cover > img {
        min-height: auto;
    }
    .details > span {
        display: none;
    }
    .cover {
        height: calc(100% - 30px) !important;
        min-height: 150px;
    }
    .cover > img {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 84%;
        min-height: 200px;
    }
    .cover > span {
        display: flex;
    }
    .details {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .details > div {
        padding: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .details > div > h3 {
        font-size: 20px;
        margin-top: 20px;
    }
    /* .main > div:nth-of-type(3) > .details > div > h3 {
        margin-top: 70px;
    } */
    .details > div > span {
        left: 25px;
    }
}



@media screen and (max-width:460px) {
    .details > div > p {
        font-size: 12px;
    }
   
}