.outer {
    background-color: white;
    height: calc(100vh - 70px);
    padding: 40px 0 80px 0;
    margin-bottom: 40px;
    overflow: hidden;
  }
  .outer > h1 {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    margin-left: 30px;
    /* or 114% */
    
    letter-spacing: 0.05cm;
  }
  .container {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;

  }
  
  .container > main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
  }
  
  .container > main > ul {
    height: 18px;
    width: 174px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .container > main > ul > li {
    list-style: none;
    display: inline-block;
    background-color: #f1f1f1;
    height: 11px;
    width: 11px;
    margin: 0 5px;
    border-radius: 8px;
  }
  
  .active {
    background: var(--base-color) !important;
    height: 14px !important;
    width: 14px !important;
    border-radius: 14px !important;
  }

  .container > main > ul > li:hover {
      opacity: 0.7;
  }
  
  .container > main > div {
    
    height: 290px;
    width: 640px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .container > main > div > section {
    height: 260px;
    background-color: gainsboro;
    width:260px;
  }
  
  .container > main > div > section:last-of-type {
    width: 378px;
    background-color: white;
    padding: 20px;
    border-bottom: var(--base-color) solid 15px;
  }
  
  .container > main > div > section > h1 {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 25px;
  letter-spacing: 0.05cm;
  }

  .container > div {
      width: 51px;
      height: 83px;
      background-color: #33314C;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      
  }

  .container > div:hover {
      opacity: 0.7;
  }

  .container > div[disabled]  {
    pointer-events: none;
    opacity: 0.6;
  }

  

  @media screen and (max-width:760px) {
    .outer {
      width: 100vw;
      margin-bottom: 26px;
      margin-top: 50px;
      height: fit-content;
    }
    .container {
      padding: 30px;
    }
    .container > div {
      width: 200px;
    } 
    .container > main {
      height: 100%;
      justify-content: initial;
      display: block;
      margin:  70px;
    }
    .container > main > div {
      display: block;
      text-align: center;
      width: 100%;
      height: fit-content;
    }
    .container > main > div > section {
      width: 100% !important;
      padding-bottom: 0 !important;
    }
    .container > main > div > section:nth-of-type(2) {
      height: fit-content;
      padding-bottom: 30px !important;
    }
    .container > main > ul {
      width: 100%;
      margin-top: 20px;
    }
  }

  @media screen and (max-width:600px) {
    .container {
      display: block;
    }

    .container > div {
      display: none;
    } 
  }

  @media screen and (max-width:560px) {
    .container > main {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  @media screen and (max-width:424px) {
    .container > main {
      margin-left: 5px;
      margin-right: 5px;
    }
  }