.encloser {
    /* background-color: #191826; */
    background-color: #191826;
    height: calc(100vh - 145px);
    min-height: 460px;
    max-height: 60vw;
    padding: 30px clamp(20px, 7vw, 120px);
}
.main {
    width: 100%;
    height: 100%;   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.main > section {
    height: 100%;
}
.main > section:nth-of-type(1) {
    width: 40%;
}
.main > section:nth-of-type(2) {
    width: 25%;
    /* background-color: bisque; */
}
.main > section:nth-of-type(3) {
    width: 35%;
    padding: 0 30px;
    margin-top: -30px;
    display: flex;
    
    justify-content: center;
    flex-direction: column;
}
.main > section:nth-of-type(1) > span {
    position: absolute;
    bottom: 0;
    height: 86px;
    width: 100%;
    right: 0;
    background-color: #191826B2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 59px;
    color: white;
}
.main > section > h1 {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
    color: #f1f1f1;
    margin-top: 5px;
    /* color: black; */
}

.main > section > div {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    height: 120px;
    margin-top: 10px;
}

.main > section > div > span {
    background-color: var(--base-color);
    width: 10px;
    height: 100%;
    margin-right: 10px;
}

.main > section > div > p {
    
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    
    color: #F1F1F1;
    /* color: black; */
}

.main > section > h2 {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 42px;
    color: #f1f1f1;
    /* color: black; */
    margin-top: 15px;
}
.image {
    position: relative;
    height: 350px !important;
}
.image > div {
    height: 100% !important;
    margin: 0 30px;
    position: relative !important;
}
.share {
    background-color: var(--base-color);
    width: 230px;
    height: 54px !important;
    border-radius: 27px 30px 0px 27px;
    cursor: pointer;
}
.share > span {
    width: 54px !important;
    height: 100%;
    background-color: #f1f1f1 !important;
    border-radius: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.share > span > img {
    height: 45px;
    width: 45px;
}
.share > h3 {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 34px;
}

.share:hover {
    opacity: 0.7;
}
@media screen and (max-width:880px) {
    .encloser {
        padding: 0;
    }
}

@media screen and (max-width:800px) {
    .encloser {
        height: fit-content !important;
        padding: 30px 5px;
        max-height: none;
    }
    .main {
        flex-direction: column-reverse;
        margin-top: 60px;
    }
    .main > section {
        width: 100% !important;
    }
    .main > section > h1 {
        font-size: 48px;
        line-height: 57px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .main > section:nth-of-type(1) {
        padding: 0 30px;
    }
    .main > section:nth-of-type(3) {
        position: relative;
        margin-bottom: 10px;
    }
    .main > section > div > p {
        margin-bottom: 20px;
    }
    .share {
        position: absolute;
        bottom: 0;
        right: 30px;
        
    }
}

@media screen and (max-width:526px) {
    .share {
        border-radius: 27px;
        width: min-content;
        right: 35px;
    }
    .share > span {
        margin: 0 !important;
        width: 50px !important;
    }
    .share > h3 {
        display: none;
    }
}