.topbar {
    width: 100%;
    background-color: black;
    color: white;
    height: 75px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 101;
}
.topbar > img {
    width: 56px;
    height: 56px;
    border-radius: 25px;
    margin-left: 15px;
    transform: scale(1.1);
}
.topbar > h3 {
    font-family: Mulish;
    font-style: normal;
    letter-spacing: 0.015cm;
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}
.topbar > span {
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.sidebar {
    /*width: 346px;*/
    width: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #1A1A1ACC;
    z-index: 101;
    display: none;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.sidebar > span {
    display: none;
    position: absolute;
    right: 23px;
    top:26px;
    cursor: pointer;
}
.sidebar > span:hover {
    opacity: 0.8;
}
.sidebar > ul {
    position: absolute;
    top: 90px;
}
.sidebar > ul > li {
    list-style: none;
    margin-bottom: 20px;
    margin-left: 20px;
    height: 37px;
    width: 254px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--base-color);
    cursor: pointer;
    overflow: hidden;
}
.sidebar > ul > li:hover {
    opacity: 0.7;
}
.sidebar > ul > li > h5 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #f1f1f1;
    letter-spacing: 0.05cm;
    margin-left: 10px;
}
.sidebar > ul > li > span {
    width: 35px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--base-color);
}

.sidebar > button {
    width: 135px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 0.2cm;
    background-color: var(--base-color);
    color: #535353;
    font-weight: bold;
    border: none;
    outline: none;
    /* box-shadow: 1px -2px 37px 16px rgb(71, 194, 224);
    -webkit-box-shadow: 1px -2px 37px 16px rgb(71, 194, 224);
    -moz-box-shadow: 1px -2px 37px 16px rgb(71, 194, 224); */
    cursor: pointer;
}

.sidebar > button:hover {
    opacity: 0.7 !important;
}

@media screen and (max-height: 700px) {
    .sidebar {
        justify-content: flex-end;
    }
    .sidebar > button {
        margin-bottom: 100px;
    }
}

@media screen and (max-width : 760px) {
    .topbar {
        position: absolute;
        top: 0;
        padding: 0 10px;
        
    }
}
    