.encloser {
    padding: 30px 60px;
}

.encloser > h1 {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 59px;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 60px;
    place-items: center;
    position: relative;
    padding-bottom: 35px;
}

.main > span {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    bottom: 24px;
    margin-bottom: -15px;
}

.main > div {
    height: 361px;
    background-color: #191826;
    color: white;
    margin-top: 10px;
    margin-bottom: 40px;
    box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 403px;
    min-width: 353px
}

.main >div:nth-of-type(2n-1) {
    margin-right: 10px;
}

.main >div:nth-of-type(2n) {
    margin-left: 10px;
}

.main > div > h3 {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 59px;
    margin-left: 20px;   
    margin-top: 17px;
}

.row {
    display: flex;
    flex-direction: row;
    height: calc(100% - 75.6px);
}
.row > div:nth-of-type(1) {
    width: 60%;
    height: 100%;
    position: relative;
}
.row > div:nth-of-type(1) > span {
    height: 78px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 101%;
    background: rgba(25, 24, 38, 0.7);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 59px;
    color: white;
}
.row > div:nth-of-type(2) {
    width: 40%;
    height: calc(100% - 78px);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row > div:nth-of-type(2) > p {
    position: relative;
    margin-left: 20px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #F1F1F1;
}

.row > div:nth-of-type(2) > p > span {
    position: absolute;
    min-width: 5px !important;
    left: 0;
    margin-left: -10px;
    height: 100%;
    background-color: var(--base-color);
    border-radius: 5px;
}

@media screen and (max-width:986px) {
    .main {
        padding: 30px 10px;
    }
}
@media screen and (max-width:986px) {
    .encloser {
        padding: 30px 30px;
    }
    .main {
        padding: 30px 0;
    }
}
@media screen and (max-width:880px) {
    
    .main > div {
        width: clamp(0px, 10vw ,550px);
    }
    .main >div:nth-of-type(2n-1) {
        margin-right: 0;
    }
    
    .main >div:nth-of-type(2n) {
        margin-left: 0;
    }
}

@media screen and (max-width:800px) {
    .main {
        grid-template-columns: auto;
    }
    .main > div {
        width: clamp(353px, 75vw, 550px);
    }
}

@media screen and (max-width:500px) {

    .encloser {
        padding: 30px 17px;
    }
 
    .main > div {
        width: 326px;
        height: 260px;
    }
    .main > div > h3 {
        vertical-align: middle;
        margin-top: 3px;
    }
    .row {
        align-items: center !important;
        height: 198px;
    }
    .row > div:nth-of-type(2) > p {
        font-size: 12px !important;
    }
    .row > div:nth-of-type(1) > span {
        font-size: 20px;
        height: 56px;
    }
    
}

@media screen and (max-width:500px) {

    .encloser {
        padding: 30px 0;
    }
 
    .main > div {
        width: 100%;
        height: auto;
    }
    
}