.encloser {
    display: block;
    height: 373px;
    padding: 50px 60px 50px 60px;
}

.encloser > main {
    height: 100%;
    width: 100%;
    margin-top: -16px;
}

.encloser > main > div {
    padding: 0px 10px;
    width: calc(100% - 20px);
    height: 2px;
    border-radius: 3px;
    margin-left: 3px;
}

.encloser > main > section {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: baseline;
    
}
.encloser > main > section:nth-of-type(1) {
    height: 62px;
}
.encloser > main > section:nth-of-type(2) {
    
    height: 200px;
    padding: 20px 0;
}

.details > div {
    width: 240px;
    height: 160px;   
    margin-right: 30px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12.7264px;
    line-height: 24px;
    margin-top: 10px;
}
.details > div > div {
    margin-top: 10px;
}
.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.social > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.social > div:last-of-type {
    height: 15px;
    width: 146px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.social > div:first-of-type > img {
    width: 42px;
    height: 42px;
    border-radius: 21px;
    margin-bottom: -8px;
    transform: scale(1.4);
}

.social > div > svg {
    cursor: pointer;
}
.social > div > svg:hover {
    opacity: 0.7;
}
.social > div:first-of-type {
    min-width: 50%;
}
.social > div:first-of-type > h4 {
    margin-left: 10px;
    margin-top: 15px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.social > div:first-of-type > h4 > span {
    vertical-align: baseline;
    margin-right: 0.5px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.3px;
}

.social > div:first-of-type > h4 > span > svg {
    vertical-align: baseline;
}

.details > div > div > h4 {
    font-weight: 500;
}
.underline:hover {
    text-decoration: underline;
    cursor: pointer !important;
}

@media screen and (max-width: 675px) {
    .encloser {
        height: fit-content;
        font-size: smaller !important;
    }
    .encloser > main {
        position: relative;
    }
    .encloser > main > section {
        display: block;
    }   
    .social > div:last-of-type {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
    }
    .social > div > svg {
        margin-left: 10px;
        margin-right: 10px;
    }
    .social > div:first-of-type > h4 > span {
        margin-right: 0.3px;
        padding-top: 0;
    } 
    .social > div:first-of-type > h4 > span > svg {
        width: 11px;
        height: 10px;
        margin-bottom:-2px;
    }
    .details {
        height: fit-content !important;
        
    }
    .details > div {
        height: fit-content;
        margin-bottom: 26px;
        /* margin-left: auto;
        margin-right: auto;
        text-align: center; */
        
    }
    .details > div > div {
        margin-top: 0;
    }
    .details > div > div:nth-of-type(2) {
        margin-top: 10px;
    }
    .details > span {
        width: 90px;
        height: 2px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
}