.encloser {
    padding: 60px;
    padding-top: 60px;
    background-color: #f1f1f1;
}

.encloser > h1 {
    margin-bottom: 40px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 0.05cm;
}
.main > div:nth-of-type(1) {
    grid-area: card1;
    margin: 0px 10px 0px 0px;
}
.main > div:nth-of-type(2) {
    grid-area: card2;
    margin: 0px 0px 10px 10px;
}
.main > div:nth-of-type(3) {
    grid-area: card3;
    margin: 10px 0px 0px 10px;
}
.main {
    margin-top: 10px;
    width: 100%;
    min-height: 450px;
    display: grid;
    grid-template-areas: 
    'card1 card2'
    'card1 card3';  
}

.main > div {
    background-color:white;
    border-left: 13px var(--base-color) solid;
    padding: 13px 15px;
    position: relative;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    overflow-y: scroll;
    max-height: 584px;
}
.main > div > h1 {
    font-family: Mulish;
    font-size: 29px;
    margin-bottom: 20px;
}
.main > div > p {
    margin-top: 10px;
}
.main > div > span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 30px;
    background-color: var(--base-color);
    cursor: pointer;
}
.main > div > button {
    margin-top: 25px;
    width: 120px;
    height: 34px;
    background: var(--base-color);
    border: none;
    color: #535353;
    font-weight: bold;
    font-family: 'Mulish';
    cursor: pointer;
}
.main > div > button:hover {
    opacity: 0.7;
}
.main > div > span:hover {
    opacity: 0.7;
}
@media screen and (max-width: 1000px) {
    .encloser > h1 {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .main {
        grid-template-areas: 
        'card1'
        'card2'
        'card3';  
    }
    .main > div > p {
        margin-top: 10px;
        display: none;
    }
    .main > div {
        padding-bottom: 55px;
        border: none;
        margin: 0 !important;
        margin-top: 25px !important;
        max-height: fit-content;
        overflow-y: visible;
    }
    /* .main > div:nth-of-type(2n+1) {
        border-left: 13px var(--base-color) solid;
    }
    .main > div:nth-of-type(2n) {
        border-right: 13px var(--base-color) solid;
    }
    .main > div > span {
        left: none;
        right: none;
    }
    .main > div:nth-of-type(2n+1) > span {
        right: 0;
    }
    .main > div:nth-of-type(2n) > span {
        left: 0;
    } */
    .main > div > p:nth-of-type(n+1) {
        display: block;
    }
    .main > div:nth-of-type(1) {
        padding-bottom: 20px;
    }
}

@media screen and (max-width:800px) {
    .encloser {
        padding-bottom: 60px !important;
    }
}

@media screen and (max-width: 600px) {
    .encloser {
        padding: 30px;
    }
}