.encloser {
    padding: 30px;
    background-color:aliceblue;
}
.main > div:nth-of-type(1) {
    grid-area: card1;
    margin: 0px 10px 0px 0px;
}
.main > div:nth-of-type(2) {
    grid-area: card2;
    margin: 0px 0px 10px 10px;
}
.main > div:nth-of-type(3) {
    grid-area: card3;
    margin: 10px 0px 0px 10px;
}
.main {
    margin-top: 20px;
    width: 100%;
    min-height: 450px;
    display: grid;
    grid-template-areas: 
    'card1 card2'
    'card1 card3';  
}

.main > div {
    background-color: white;
    border-left: 13px var(--base-color) solid;
    padding: 13px 15px;
    position: relative;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}
.main > div > h1 {
    font-family: Calibri;
    font-size: 29px;
}
.main > div > p {
    margin-top: 10px;
    font-size: 15px;
}
.main > div > span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 30px;
    background-color: var(--base-color);
    cursor: pointer;
}
.main > div > button {
    margin-top: 25px;
    width: 120px;
    height: 34px;
    background: var(--base-color);
    border: none;
    color: white;
    font-weight: bold;
    font-family: 'Mulish';
    cursor: pointer;
}
.main > div > button:hover {
    opacity: 0.7;
}
.main > div > span:hover {
    opacity: 0.7;
}
@media screen and (max-width: 650px) {
    .main {
        grid-template-areas: 
        'card1'
        'card2'
        'card3';  
    }
    .main > div > p {
        margin-top: 10px;
        font-size: 13px;
    }
    .main > div {
        padding-bottom: 45px;
        border: none;
        margin: 0 !important;
        margin-top: 25px !important;
    }
    /* .main > div:nth-of-type(2n+1) {
        border-left: 13px var(--base-color) solid;
    }
    .main > div:nth-of-type(2n) {
        border-right: 13px var(--base-color) solid;
    }
    .main > div > span {
        left: none;
        right: none;
    }
    .main > div:nth-of-type(2n+1) > span {
        right: 0;
    }
    .main > div:nth-of-type(2n) > span {
        left: 0;
    } */
    .main > div > p {
        display: none;
    }
    .main > div > p:first-of-type {
        display: block;
    }
    .main > div:nth-of-type(1) {
        padding-bottom: 20px;
    }
}